@import "../../styles/variables.scss";

.comics {
  &__cards {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 290px);
    justify-content: center;
    row-gap: 40px;
    column-gap: 16px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    width: 290px;
    background: $white;
    border: 1px solid #e2e6e9;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.4s ease-in-out;

    &:hover {
      transform: scale(1.02);

      .comics__card-image {
        transform: scale(1.1);
      }
    }

    &-content {
      flex: 1;
    }

    &-image {
      width: 240px;
      height: 268px;
      object-fit: contain;
      transition: all 0.4s ease-in-out;
    }

    &-title {
      display: block;
      margin-top: 24px;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

      &:hover {
        text-decoration: underline;
      }
    }

    &-price {
      margin-top: 7px;
      font-weight: 700;
      font-size: 22px;
    }

    &-features {
      margin-top: 7px;
      padding-top: 16px;
      border-top: 1px solid $elements;
    }

    &-feature {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      font-weight: 600;

      &:last-child {
        margin-top: 8px;
      }

      &-label {
        color: $secondary;
      }

      &-value {
        text-transform: uppercase;
      }
    }

    &-actions {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-favorite-btn {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $icons-color;
      cursor: pointer;
      transition: all 0.4s;

      svg {
        transition: all 0.2s;
      }

      &:hover {
        border-color: $primary-color;

        svg {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.button {
  width: 176px;
  height: 40px;
  background: $primary-color;
  border: none;
  font-weight: 600;
  font-size: 14px;
  color: $white;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    transform: scale(0.95);
    box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.26);
  }

  &-added {
    color: $green;
    background: $white;
    border: 1px solid $elements;
  }
}
