@import "./variables.scss";
@import "./reset.scss";
@import "../components/header/Header.scss";

body {
  color: $white;
  background-color: #e5e5e5;
  font-size: 14px;
}

.App {
  max-width: 1440px;
  margin: 0 auto;
}
