@import "../../styles/variables.scss";
.cart {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  gap: 16px;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }

  &__items {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    gap: 16px;

    @media (max-width: 992px) {
      order: 2;
    }
  }
}

.hero-emoji {
  font-size: 45px;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 600ms ease-in;
}
