@import "../../styles/variables.scss";

.cart {
  &__checkout {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    width: 300px;
    height: 206px;
    border: 1px solid $icons-color;
    background-color: $background;

    @media (max-width: 992px) {
      order: 1;
      padding: 10px;
      height: 176px;
    }

    @media (max-width: 576px) {
      width: 250px;
      height: 150px;
    }

    &-total {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 8px;
    }

    &-amount {
      font-weight: 700;
      font-size: 32px;

      @media (max-width: 576px) {
        font-size: 22px;
      }
    }
  }
}
