@import "../../styles/variables";

.footer {
  &__wrapper {
    padding: 0 100px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -1px 0px $icons-color;
  }

  &__logo {
    width: 70px;

    img {
      width: 100%;
    }
  }

  .menu {
    display: flex;
    align-items: center;

    &__list {
      display: flex;
      align-items: center;
      gap: 64px;
    }

    &__link {
      display: flex;
      align-items: center;
      font-weight: 700;
      text-transform: uppercase;
      color: $secondary;
      transition: color 0.4s ease-in-out;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__actions {
    display: flex;
  }

  &__icons {
    display: flex;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      box-shadow: -1px 0px 0px #e2e6e9;

      &:hover {
        color: $primary-color;
        border-bottom: 3px solid $primary-color;
      }
    }
  }
  &__icon {
    display: block;
    width: 22px;
    height: 22px;

    &-favorites {
      background: url("../../assets/icons/favorites-empty.svg") center/contain no-repeat;
    }

    &-store {
      background: url("../../assets/icons/basket-empty.svg") center/contain no-repeat;
    }
  }

  &__to-top {
    display: flex;
    align-items: center;
    gap: 16px;
    &-label {
      font-weight: 600;
      color: $secondary;
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border: 1px solid $icons-color;
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        border-color: $primary-color;
      }
      svg {
        transform: rotate(180deg);
        path {
          fill: $primary-color;
        }
      }
    }
  }
}
